.header-main-component {
    display: flex;
    align-items: center;
    background-color: #007bff;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.header-main-component h1 {
    margin-top: 18px;
    color: white;
    font-weight: bold;
}

.header-icon-container {
    display: flex;
    align-items: center;
}

.header-icon-container img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.logout-button {
    display: flex;
    align-items: center;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.logout-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}